.query
  -# %p.current= "You are currently viewing #{@query}."
%ul.results
  - @posts.each_with_index do |post, index|
    %li{ :class => ('odd' if index.odd?) }
      %span.timestamp= post.timestamp.strftime '%a %e %b %Y %l:%M%P'
      %span.separator \\
      %span.author= post.author
      %a{ :href => to(post.slug) }= post.title
      %ul.tags
        - post.tags.each do |tag|
          %a{ :href => "/archive/#{tag}" }= tag
