.header
  %span.author= meta.author
  %span.timestamp= meta.timestamp.strftime '%a %e %b %Y %l:%M%P'
  %h2.title= meta.title
.markdown
  != body
%ul.tags
  - meta.tags.each do |t|
    %a{ :href => "/archive/#{t}" }= t
