%a{ :class => 'rss', :href => '/feed.rss' } subscribe
.local-nav
  - if @prev
    %a.prev{ :href => "/#{@prev.slug}" }= @prev.title
  - if @next
    %a.next{ :href => "/#{@next.slug}" }= @next.title
.post
  != @post.content
%ul.controls
  %li.comment-count
    = "comments (#{@post.comment_count})"
%ul.comments
  - @post.each_rendered_comment do |c|
    %li!~ c
  %li.new
    %form{ :method => 'post' }
      %p
        %label{ :for => 'name' } name (optional)
        %input{ :type => 'text', :id => 'name', :class => 'name', :name => 'name' }
      %p
        %textarea{ :id => 'comment-body', :name => 'body' }
      %p
        %input{ :type => 'submit', :class => 'submit', :value => 'Submit' }
    %div{ :id => 'comment-preview' }
