%a{ :class => 'rss', :href => '/feed.rss' } subscribe
.local-nav
  - if @prev
    %a.prev{ :href => "/#{@prev.slug}" }= @prev.title
  - if @next
    %a.next{ :href => "/#{@next.slug}" }= @next.title
.post
  != @post.content
%ul.controls
  %li.comment-count
    = "comments (#{@post.comment_count})"
%ul.comments
  - @post.each_rendered_comment do |c|
    %li!~ c
  %li.new
    %form{ :method => 'post' }
      %input{ :type => 'hidden', :name => 'spinner', :value => @spinner }
      %input{ :type => 'hidden', :name => field_name(@spinner, 'timestamp'), :value => @ts.to_i }
      %input{ :type => 'hidden', :name => field_name(@spinner, 'slug'), :value => hash(@post.slug) }
      - if @honeypots_chosen.include? 1
        %input{ :type => 'text', :name => @honeypot_names[0], :class => @honeypot_css[0] }
      %p
        %label{ :for => @name_field } name (optional)
        - if @honeypots_chosen.include? 2
          %input{ :type => 'text', :name => @honeypot_names[1], :class => @honeypot_css[1] }
        %input{ :type => 'text', :id => @name_field, :class => @name_css, :name => @name_field }
        - if @honeypots_chosen.include? 3
          %input{ :type => 'text', :name => @honeypot_names[2], :class => @honeypot_css[2] }
      %p
        %textarea{ :id => @body_field, :class => @body_css, :name => @body_field }
      %p
        %input{ :type => 'submit', :class => @submit_field, :name => @submit_field, :value => 'Submit' }
    %div{ :id => 'comment-preview' }
